*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #161617;
  color: #fff;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

h4 {
  font-family: RuberoidBold, sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #fff;
  padding-bottom: 14px;
}

p {
  font-family: RuberoidMedium, sans-serif;
font-weight: 500;
font-size: 17px;

/* line-height: 26px; */ 
line-height: 154%;
text-align: center;
color: rgba(255, 255, 255, 0.75);
}

.carousel {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
}
.carousel__item {
  /* position: relative; */
  visibility: hidden;
  /* height: 35rem;
    width: 25rem; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  width: 370px;
  height: 570px;
  /* overflow: hidden; */
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  transition: all 0.2s linear;
}
/* .carousel__item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
} */

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
  visibility: visible;
}

.carousel__item--left {
  transform: translate(-150%, -50%) scale(0.9);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
}
.carousel__item--right {
  transform: translate(50%, -50%) scale(0.9);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
}
/* .carousel__item--left img,
.carousel__item--right img {
  filter: grayscale(80%);
} */

/* .carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.2);
  z-index: 3;
  cursor: pointer;
}
.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.2);
  z-index: 3;
  cursor: pointer;
}
.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.carousel__item:hover > .carousel__text {
  opacity: 1;
}
.carousel__item:hover img {
  filter: grayscale(0%);
} */

.carousel__text {
  /*   position: absolute; */
  /*  bottom: 0; */
  /*   z-index: 4; */
  /* opacity: 0; */
  transition: opacity 0.2s;
  /* width: 100%; */
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 44px 57px 23px 56px;
  /* color: #fff; */
}

.carousel__btns {
  position: absolute;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  /* left: 40px; */
  transform: translateY(-50%);
  gap: 1005px;
  pointer-events: none;
  z-index: 100;
}
.carousel__btn {
  pointer-events: auto;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1.5px solid #153630;
  border-radius: 50%;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.ball {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  transition: all 0.3s ease;
}

.ball:hover {
  width: 75px;
  height: 75px;
}
/* .carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
} */
.carousel__btn:hover {
  width: 90px;
  height: 90px;
  margin: -10px;
}


@media (max-width: 1160px) {


  .carousel::before {
    content: 'Zoom down please';
    text-transform: uppercase;
    color: red;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }

  .carousel {
    left: 40%;
  }

  .carousel__item {
    display: none;
  }

  .carousel__btns {
    display: none;
  }
}