*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-family: "Ruberoid", sans-serif;
  --cursor: url("./img/pointer.png"), default;
  --font-size-Regular: 400;
  --font-size-Medium: 500;
  --font-size-SemiBold: 600;
  --font-size-Bold: 700;
  --font-size-ExtraBold: 800;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #161617;
  color: #fff;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

a > button {
  cursor: var(--cursor);
}

h4 {
  font-family: var(--font-family);
  font-weight: var(--font-size-Bold);
  font-size: 32px;
  text-align: center;
  color: #fff;
}

p {
  font-family: var(--font-family);
  font-weight: var(--font-size-Medium);
  font-size: 17px;

  /* line-height: 26px; */
  line-height: 154%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.carousel {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
}
.carousel__item {
  visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  width: 370px;
  height: 570px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .carousel__item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
} */

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  visibility: visible;
}

.carousel__item--left {
  transform: translate(-150%, -50%) scale(0.9);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
}
.carousel__item--right {
  transform: translate(50%, -50%) scale(0.9);
  z-index: 1;
  visibility: visible;
  opacity: 0.65;
}
/* .carousel__item--left img,
.carousel__item--right img {
  filter: grayscale(80%);
} */

/* .carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.2);
  z-index: 3;
  cursor: pointer;
}
.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.2);
  z-index: 3;
  cursor: pointer;
}
.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.carousel__item:hover > .carousel__text {
  opacity: 1;
}
.carousel__item:hover img {
  filter: grayscale(0%);
} */

.carousel__text {
  transition: opacity 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 318px;
  height: 100%;
  padding-top: 41px;
}

.button {
  border: 1.5px solid #2eecc5;
  border-radius: 41px;
  width: 172px;
  height: 57px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
  background: rgba(46, 236, 197, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button > p {
font-family: RuberoidSemiBold, sans-serif;
  font-weight: var(--font-size-SemiBold);
  font-size: 17px;
  color: #fff;
}

.price-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
}
.price > p {
  font-family: var(--font-family);
  font-weight: var(--font-size-Bold);
  font-size: 22px;
  line-height: 154%;
  color: #fff;
}
.price > span {
  font-family: var(--font-family);
  font-weight: var(--font-size-Medium);
  font-size: 17px;
  line-height: 154%;
  color: rgba(255, 255, 255, 0.4);
}

.carousel__btns {
  position: absolute;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  /* left: 40px; */
  transform: translateY(-50%);
  gap: 1005px;
  pointer-events: none;
  z-index: 100;
}
.carousel__btn {
  pointer-events: auto;
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1.5px solid #153630;
  border-radius: 50%;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  cursor: var(--cursor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.ball {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(166deg, #19201f 0%, #323939 100%);
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  transition: all 0.3s ease;
}

.ball:hover {
  width: 75px;
  height: 75px;
}
/* .carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
} */
.carousel__btn:hover {
  width: 90px;
  height: 90px;
  margin: -10px;
}

@media (max-width: 1160px) {
  .carousel::before {
    content: "Zoom down please";
    text-transform: uppercase;
    color: red;
    font-weight: 800;
    font-family: var(--font-family);
    font-weight: var(--font-size-ExtraBold);
  }

  .carousel {
    position: relative;
    justify-content: center;

    left: 0;
  }

  .carousel__item {
    display: none;
  }

  .carousel__btns {
    display: none;
  }
}
